
    <nz-table [nzData]="drivers" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody cdkDropList > <!--(cdkDropListDropped)="drop($event)"-->
        <tr *ngFor="let driver of drivers" cdkDrag>
          <td>{{ driver._id }}</td>
          <td>{{ driver.name }}</td>
          <td>{{ driver.category }}</td>
        </tr>
      </tbody>
    </nz-table>
  