<nz-layout class="app-layout">
  <nz-header>
    <div class="navbar">
      <div class="logo">
        <img src="https://ri.rd.com.br/assets/images/logo-min.png" alt="Logo">
        <a style="position: absolute; width: 156px; height: 40px;" routerLink="/home"></a>
      </div>
       <h2 style="color: #FFF">Business Intelligence</h2>
    </div>
      <div class="app-header">Ferramentas</div>
    </nz-header>
  <nz-layout>
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <i class="trigger" nz-icon nzType="swap"></i>
      </span>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item>
          <span nz-icon nzType="home"></span>
          <span><a routerLink="/home">Home</a></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="team"></span>
          <span><a routerLink="/pilotos">Pilotos</a></span>
        </li>
      </ul>
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>